<table class="root %ULT_AP% ">
  <tr class="music" id="music_%MUS_ID%">
    <td class="jacket">
      <img src="music/%MUS_ID%/jacket.jpg">
      <span>%MUS_ID%</span>
    </td>
    <td class="stats">
      <div class="title genre-%MUS_GENRE%">
        <h2>%MUS_TITLE%</h2>
        <h4>%MUS_ARTIST%</h4>
      </div>
      <div class="diffs">
        <div class="sta %STA_NP% %STA_AP%">
          <p class="name">NORMAL <span class="extra">Lv. %STA_LV%</span></p>
          <p class="score">%STA_SCORE%</p>
          <p class="extra grade">%STA_GRADE%</p>
          <p class="extra spec">%STA_SPEC%</p>
        </div>
        <div class="exp %EXP_NP% %EXP_AP%">
          <p class="name">EXPERT <span class="extra">Lv. %EXP_LV%</span></p>
          <p class="score">%EXP_SCORE%</p>
          <p class="extra grade">%EXP_GRADE%</p>
          <p class="extra spec">%EXP_SPEC%</p>
        </div>
        <div class="ult %ULT_NP% %ULT_AP%">
          <p class="name">ULTIMATE <span class="extra">Lv. %ULT_LV%</span></p>
          <p class="score">%ULT_SCORE%</p>
          <p class="extra grade">%ULT_GRADE%</p>
          <p class="extra spec">%ULT_SPEC%</p>
        </div>
        <div class="man %MAN_RL% %MAN_NP% %MAN_AP%">
          <p class="name">MANIAC <span class="extra">Lv. %MAN_LV%</span></p>
          <p class="score">%MAN_SCORE%</p>
          <p class="extra grade">%MAN_GRADE%</p>
          <p class="extra spec">%MAN_SPEC%</p>
        </div>
        <div class="con %CON_RL% %CON_NP% %CON_AP%">
          <p class="name">CONNECT <span class="extra">Lv. %CON_LV%</span></p>
          <p class="score">%CON_SCORE%</p>
          <p class="extra grade">%CON_GRADE%</p>
          <p class="extra spec">%CON_SPEC%</p>
        </div>
      </div>
    </td>
  </tr>
</table>
