@import url('shell.css');
@import url('tetote.css');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');
/* body { background: url('../i/bg.gif'); background-position: center; } */
div.ff { display: flex; justify-content: space-between; }
div.ff > a { flex-grow: 1; display: block; }
