body { font-family: "M PLUS Rounded 1c"; font-weight: 700; margin: 0; background: #000000; text-align: center; }
div.page { background: #062c33; color: #7ec331; width: 900px; min-height: 100vh; margin: auto; padding: 8px; border-width: 8px; border-left-color: #ff3a6d; border-right-color: #34abff; border-style: none ridge; }
a { color: #46c5e3; }
a:visited { color: #7ec331; }
hr { display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px; border-color: #7ec331; }
