
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');
body { font-family: "M PLUS Rounded 1c"; font-weight: 700; margin: 0; background: url("stripe.png") #000000 fixed; text-align: center; }
div.page { background: #062c33; color: #7ec331; width: 900px; min-height: 100vh; margin: auto; padding: 8px; border-width: 8px; border-left-color: #ff3a6d; border-right-color: #34abff; border-style: none ridge; }
a { color: #46c5e3; }
a:visited { color: #7ec331; }
hr { display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px; border-color: #7ec331; }

table {
  border-spacing: 0;
  width: 100%;
}

table.root {
  background: #093f49;
  margin-bottom: 15px;
}

div.title.genre-original {
  border-left: solid 5px #fe3c6f;
  border-right: solid 5px #fe3c6f;
}
div.title.genre-virtual {
  border-left: solid 5px #38acff;
  border-right: solid 5px #38acff;
}
div.title.genre-pops {
  border-left: solid 5px #8fc31f;
  border-right: solid 5px #8fc31f;
}
div.title.genre-toho {
  border-left: solid 5px #32b16c;
  border-right: solid 5px #32b16c;
}
div.title.genre-variety {
  border-left: solid 5px #b790e4;
  border-right: solid 5px #b790e4;
}
div.title.genre-game {
  border-left: solid 5px #3872f6;
  border-right: solid 5px #3872f6;
}

input#not-ap-only:checked ~ table.ap {
  display: none;
}

tr.music {
  height: 150px;
}

tr > td.jacket {
  width: 150px;
  line-height: 0;
}

td.jacket > span {
  opacity: 0;
}

td.jacket > img {
  height: 150px;
  width: 150px;
}

table.diffs {
  height: 90px;
}

td {
  color: #7ec331;
}

div.title {
  height: 60px;
}

div.title > * {
  margin-block: 0;
}

div.diffs {
  display: flex;
  height: 90px;
}

div.diffs > div {
  width: 100%;
}

div.diffs p {
  margin: 0;
}

div.diffs p.name {
  font-size: 8px;
}

div.diffs p.score {
  font-size: 32px;
}

div.diffs p.extra {
  display: inline-block;
  line-height: 0.5;
}

div.diffs p.extra.grade {
  width: 30%;
  font-size: 24px;
}

div.diffs p.extra.spec {
  width: 65%;
  font-size: 12px;
}

div.diffs > div.np > p.extra, div.diffs > div.nr span.extra {
  display: none;
}

div.diffs > div.np > p.score {
  font-size: 16px;
  margin-top: 20px;
}

div.sta {
  border-top: solid #3682E4 2px;
}
div.sta.ap, div.sta > p.name {
  background-color: #3682E4;
  color: #fff;
}
div.exp {
  border-top: solid #EC4545 2px;
}
div.exp.ap, div.exp > p.name {
  background-color: #EC4545;
  color: #fff;
}
div.ult {
  border-top: solid #A034FE 2px;
}
div.ult.ap, div.ult > p.name {
  background-color: #A034FE;
  color: #fff;
}
div.man {
  border-top: solid #4ACDA0 2px;
}
div.man.ap, div.man > p.name {
  background-color: #4ACDA0;
  color: #000;
}
div.con {
  border-top: solid #FFB4DB 2px;
}
div.con.ap, div.con > p.name {
  background-color: #FFB4DB;
  color: #000;
}

div.nr {
  background-color: #333;
  color: #ccc;
}

div.nr p.soon {
  margin-top: 20px;
}
